.container {
  padding: 20px;
  background-color: #f0f0f0;
  border: 2px solid #b68c57;
  border-radius: 0;
  margin: 20px 0;
}

.title {
  color: #2f2f2f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description {
  color: #555;
  font-size: 16px;
}